.raiseFunds {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0.3)),
    url("https://www.freepik.com/free-vector/watercolor-nature-background-with-leaves_13295378.htm#query=leaves%20background&position=0&from_view=keyword&track=ais");
  background-size: cover;
  background-position: center;
}

.raiseFunds form {
  background-color: rgb(233, 246, 213);
  padding: 0px 60px;
  border-radius: 10px;
}

.raiseFunds header {
  color: rgb(123, 1, 1);
  text-align: center;
}

.raiseFunds button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(123, 1, 1);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
