@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=EB+Garamond:wght@500&family=Jura:wght@300&family=Open+Sans&family=Roboto+Condensed&display=swap");

.Beneficiary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Beneficiary .Quotes {
  width: 30%;
  height: auto;
  border: 5px solid #2f720e;
  margin-top: 10em;
  padding: 40px;
  background-color: #fef4de;
}
.Beneficiary .Quotes p {
  font-family: "EB Garamond", serif;
}
