.display {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.displayItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 13px 22px 10px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 13px 22px 10px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 13px 22px 10px 2px rgba(0, 0, 0, 0.6);
  text-align: center;
  justify-content: center;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}

.displayTitle {
  font-size: 70px;
  color: #3cb100;
}

.displayText {
  font-size: 30px;
  font-weight: 600;
}
