.display {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.displayItem {
  background: #fff;
  margin-left: 25em;
  padding: 40px;
  border-radius: 5px;
  margin-top: 2em;

  background-color: rgb(228, 226, 226);
  box-shadow: rgb(78, 78, 78);
}

.grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}

.displayProjectTitle {
  font-size: 30px;
  color: black;
  justify-content: space-between;
  margin: 2em 0 2em 13.5em;
  text-transform: uppercase;
}

.displayText {
  font-size: 15px;
  font-weight: 200;
}

.displayItem .restdata {
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
  width: "24em";
  margin-top: "1em";
}
.displayItem .restdata p {
  margin: 1em 0 0.4em 0.4em;
}
