@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro&display=swap");

.Charity-Image {
  width: 10px;
  height: 10px;
}
.Admin-Project-body {
  display: flex;
}

/* .Project-whole-Body .Projects {
  margin-top: 10em;
  margin-left: 10em;
} */

.Admin-Projects .donate-button-border {
  padding: 2em;
  display: flex;
  justify-content: center;
}

.Admin-Projects-Data {
  width: 30%;
  height: 90vh;
  background: #fff;
  float: left;
  margin-left: 2em;
  padding: 40px;
  border-radius: 5px;
  /* margin-top: 2em; */
  background-color: rgb(228, 226, 226);
  box-shadow: rgb(78, 78, 78);
}
.Admin-Projects-Data .ProjectName p {
  margin-top: 1em;
  font-size: 1.5em;
  font-family: "Bebas Neue", cursive;
}
.Admin-Projects p {
  width: auto;
  margin-top: 1em;
  text-align: justify;
  font-family: "Source Sans Pro", sans-serif;
}


.Projects .restDetails {
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
  width: "24em";
  margin-top: "1em";
}
.Admin-Projects .restDetails p {
  margin: 1em 0 0.4em 0.4em;
}
.Admin-Projects .restDetails p a {
  color: #3b9d0a;
  font-family: "Source Sans Pro", sans-serif;
}


