.agencywidgetSm {
  flex: 1;
  box-shadow: 13px 22px 10px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 13px 22px 10px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 13px 22px 10px 2px rgba(0, 0, 0, 0.6);
  padding: 20px;
  margin-right: 20px;
}

.agencywidgetSmTitle {
  font-size: 20px;
  font-weight: 600;
}

.agencywidgetSmImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.agencywidgetSmList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.agencywidgetSmListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.agencywidgetSmClient {
  display: flex;
  flex-direction: column;
}

.agencywidgetSmClientName {
  font-weight: 600;
}

.agencywidgetSmClientAmount {
  font-weight: 300;
}

.agencywidgetSmButton {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  background-color: #eeeef7;
  color: #555;
  cursor: pointer;
}

.agencywidgetSmIcon {
  font-size: 16px !important;
  margin-right: 5px;
}
