@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro&display=swap");

.Charity-Image {
  width: 10px;
  height: 10px;
}
.Project-body {
  display: flex;
}

.Project-whole-Body .Projects {
  margin-top: 10em;
  margin-left: 10em;
}

.Projects .donate-button-border {
  padding: 2em;
  display: flex;
  justify-content: center;
}
.Projects .Donate-Button {
  color: #fff;
  background: #3cb100;
  border: 2px solid #3cb100;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.Projects .Donate-Button:hover {
  background: #fff;
  transition: 0.5s;
  color: #3cb100;
}

.Projects-Data {
  width: 30%;
  height: 90vh;
  background: #fff;
  float: left;
  margin-left: 2em;
  padding: 40px;
  border-radius: 5px;
  margin-top: 2em;
  background-color: rgb(228, 226, 226);
  box-shadow: rgb(78, 78, 78);
}
.Projects-Data .ProjectName p {
  margin-top: 1em;
  font-size: 1.5em;
  font-family: "Bebas Neue", cursive;
}
.Projects p {
  width: auto;
  margin-top: 1em;
  text-align: justify;
  font-family: "Source Sans Pro", sans-serif;
}

.Project-body .ProjectDetails {
  width: 100%;
  height: auto;
}
.Projects .restDetails {
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
  width: "24em";
  margin-top: "1em";
}
.Projects .restDetails p {
  margin: 1em 0 0.4em 0.4em;
}
.Projects .restDetails p a {
  color: #3b9d0a;
  font-family: "Source Sans Pro", sans-serif;
}

/* ProjectDetails popup */
.ProjectDetails .overlay {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  backdrop-filter: blur(5px);
  background: rgba(49, 49, 49, 0.8);
}

body.active-modal {
  overflow-y: hidden;
}

.ProjectDetails .Project-content {
  position: fixed;
  width: 88%;
  min-height: 80vh;
  max-height: 100vh;
  top: 10%;
  left: 6%;
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
}

.ProjectDetails .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.ProjectDetails button {
  color: #fff;
  background: #3cb100;
  border: 2px solid #3cb100;
  padding: 10.2px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.ProjectDetails button:hover {
  background: #fff;
  transition: 0.5s;
  color: #3cb100;
}

/***toogggggle buttton part***/
.ProjectDetails .three-bodies {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.three-bodies .middle div {
  text-align: "center";
  border: "2px solid #3cb100";
  border-radius: "3px";
}
.three-bodies .middle div p {
  background-color: #3cb100;
  color: white;
}
.ProjectDetails .input {
  display: flex;
  flex-direction: column;
  border: 2px solid #3cb100;
  padding: 50px;
}

.ProjectDetails input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #3cb100;
  color: rgb(65, 64, 64);
  font-size: 15px;
  padding-left: 10px;
  margin-top: 10px;
}
.ProjectDetails input:focus {
  outline: none;
}

.ProjectDetails input::placeholder {
  color: rgb(65, 64, 64);
  opacity: 70%;
  font-family: Arial, Helvetica, sans-serif;
  /* padding-left:  10px; */
}
