@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap");
.Beneficiary-token {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
}
.Beneficiary-token-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.Beneficiary-token-head {
  margin-top: 8em;
}
.Beneficiary-token-head h1 {
  font-family: "Roboto Condensed", sans-serif;
}
.Beneficiary-token-form {
  margin-top: 4em;
  width: 25em;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}
.Beneficiary-token-form p {
  margin-top: 2em;
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.Beneficiary-token-form input {
  padding: 12px;
  width: 88%;
  border-radius: 5px;
  border-color: #3cb100;
  text-align: center;
}

.Beneficiary-token-form .input label {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.Beneficiary-token-form .submit {
  color: #fff;
  background: #3cb100;
  width: 25%;
  border: 2px solid #3cb100;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 3em;
}

.Beneficiary-token-form .submit:hover {
  background: #fff;
  transition: 0.5s;
  color: #3cb100;
}
