.Agencyfeatured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.AgencyfeaturedItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
}

.AgencyfeaturedTitle {
  font-size: 20px;
  color: #2c0101;
}

.AgencyfeaturedContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}
