@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.register-form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: aliceblue;
}
.register-form .form {
  background-color: white;
  width: 25em;
  height: 30em;
  border-radius: 1em;
  margin-top: 8em;
  box-shadow: 0 0.188em 1.55em rgb(15, 97, 33);
}
.register-form h2 {
  width: 50%;
  text-align: center;
  color: #fff;
  /* position: relative */
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #3cb100;
  border-radius: 10px;
  margin: 30px 0px 0px 98px;
  padding: 10px;
}
.register-form .form input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #3cb100;
  color: rgb(65, 64, 64);
  font-size: 15px;
  padding-left: 10px;
  margin-top: 15px;
}
.register-form .input {
  margin: 20px 0px 0px 40px;
}
.register-form .form input:focus {
  outline: none;
}

.register-form .form input::placeholder {
  color: rgb(65, 64, 64);
  opacity: 70%;
  font-family: Arial, Helvetica, sans-serif;
}

.register-btn {
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  background: #3cb100;
  border: 2px solid #3cb100;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
select:focus-visible {
  outline: 0;
}
.register-btn:hover {
  color: #3cb100;
  background: transparent;
  transition: 0.5s;
}
.register-home-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 2px solid #3cb100;
  padding: 10px 45px;
  background: #3cb100;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5em;
}
.register-home-btn:hover {
  background: #fff;
  transition: 0.5s;
  color: #3cb100;
}
.register-form .role {
  margin-top: 15px;
  /* padding: 4px; */
}

.register-form .form .input p {
  color: red;
  font-size: 12px;
  font-family: "poppins", sans-serif;
}
