.agencychart {
  margin: 20px;
  padding: 20px;
  box-shadow: 13px 22px 10px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 13px 22px 10px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 13px 22px 10px 2px rgba(0, 0, 0, 0.6);
}

.agencychartTitle {
  margin-bottom: 20px;
}
